---
- name: Install packages
  hosts: all
  become: true
  vars:
    root_db_password: b0td3t3ct!15

  tasks:

    - name: Download MySQL Community Repo
      get_url:
        url: http://repo.mysql.com/mysql-community-release-el7-7.noarch.rpm
        dest: /tmp

    - name: Install MySQL Community Repo
      shell: /usr/bin/rpm -Uvh --replacepkgs /tmp/mysql-community-release-el7-7.noarch.rpm
      args:
        warn: false

    - name: Install MySQL Server
      yum: name=mysql-server state=present lock_timeout=20

    - name: Install MySQL-python
      yum: name=MySQL-python state=present lock_timeout=20

    - name: Start MySQL Server and enable it
      service: name=mysqld state=started enabled=yes

    - name: Remove Test database if it exists
      mysql_db: name=test state=absent

    - name: Remove All Anonymous User Accounts
      mysql_user: name='' host_all=yes state=absent

    - name: Output ansible_hostname
      debug: msg="Hostname is {{ ansible_hostname }}"

    - name: Change Root password
      mysql_user: name=root host={{ item }} password={{ root_db_password }}
      with_items:
        - "{{ ansible_hostname }}"
        - 127.0.0.1
        - ::1
        - localhost

    - name: Copy wp_db.sql file
      copy:
        src: ../wp_db.sql
        dest: /
        remote_src: no

    # - name: Copy ICBots.sql file
    #   copy:
    #     src: ../ICBots.sql
    #     dest: /
    #     remote_src: no

    # - name: Setup a new fingerprint db
    #   mysql_db:
    #     name: ICBots
    #     login_password: "{{ root_db_password }}"
    #     state: import
    #     target: /ICBots.sql

    - name: Setup a new wordpress db
      mysql_db:
        name: wp_db
        login_password: "{{ root_db_password }}"
        state: import
        target: /wp_db.sql

    - name: Add wordpress users
      mysql_user: name=wordpress_usr host={{ item }} login_password={{ root_db_password }} password={{ root_db_password }} priv='wp_db.*:ALL'
      with_items:
        - "{{ ansible_hostname }}"
        - 127.0.0.1
        - ::1
        - localhost


    - name: restart MySQL Server and enable it
      service: name=mysqld state=restarted enabled=yes
